html
    head
        head
            title #{json.text}
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        body
            div(class="container-fluid")
                div(class="row")
                    div(class="col-xs-12")
                        a(href="pdf?id=" + json.id) #{json.i18n.dict["Get as PDF"]}
                        h2 #{json.text}
                        p #{json.dateTime}
                        img(style="width: 800px" src= "/tmp/" + json.id + ".png")
                        h3 #{json.i18n.dict["Conflicts"]}
                        table(class="table")
                            each val, key in json.hits
                                tr
                                    td
                                        p #{json.metaDataKeys[val.table.split(".")[1]].f_table_title || json.metaDataKeys[val.table.split(".")[1]].f_table_name} (#{val.hits})
                                            if val.data.length > 0
                                                table(class="table table-bordered")
                                                    thead
                                                        each data, dkey in val.data[0]
                                                            if data.key == false
                                                                th #{data.alias}
                                                        each data, dkey in val.data
                                                            tr
                                                                each row, rkey in data
                                                                    if row.key == false
                                                                         td #{row.value}
                        h3 #{json.i18n.dict["No Conflicts"]}
                        each val, key in json.noHits
                             span #{json.metaDataKeys[val.table.split(".")[1]].f_table_title || json.metaDataKeys[val.table.split(".")[1]].f_table_name}
                             span &nbsp;&nbsp;|&nbsp;&nbsp;